* {
    box-sizing: border-box;
  }
  
  html {
    margin: 0px;
    padding: 0px;
  }
  
  body {
    overflow: hidden;
    height: 100vh;
    max-height: 100vh;
    margin: 0;
    padding: 0%;
  }
  
  a {
    text-decoration: none;
    
  }
  a:hover {
    text-decoration: none;
  }

  input {
    outline: none !important;
  }
  input:hover{
    outline: none !important;
  }
 
  .loadingSpinnerContainer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .loadingSpinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #005fff transparent #005fff transparent;
    border-radius: 50%;
    animation: spin 1.2s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }

  