* {
    box-sizing: border-box;
  }
  
  html {
    margin: 0px;
    padding: 0px;
  }
  
  body {
    overflow: hidden;
    height: 100vh;
    max-height: 100vh;
    margin: 0;
    padding: 0%;
  }
  
  a {
    text-decoration: none;
    
  }
  a:hover {
    text-decoration: none;
  }

  input {
    outline: none !important;
  }
  input:hover{
    outline: none !important;
  }
 